<div class="main-style">
  <div class="todo-style">
    <h2>My Todo List</h2>
    <br />
    <label for="taskFilter">Filter:&nbsp;</label>
    <input name="taskFilter" [(ngModel)]="filterTasks" />
    <br />

    <div *ngIf="allComplete">
      <p class="all-done">
        You're all caught up on your tasks. Enjoy your free time!
      </p>
    </div>

    <div class="container">
      <div class="row" *ngFor="let item of itemList; index as i">
        <ng-container *ngIf="item.task.toLowerCase().includes(filterTasks.toLowerCase())">
          <div class="col-sm-1">
            {{i + 1}}.
          </div>
          <div [ngClass]="item.completed ? 'col-sm-9 strike' : 'col-sm-9'">
            <button *ngIf="!item.completed" (click)="completeTask(i)">Complete</button>

            {{item.task}}

            <form *ngIf="item.editingTask" #updateTask="ngForm" (ngSubmit)="editTask(i, updateTask)">
              <label for="task">Edit task: &nbsp;</label>
              <input name="task" id="task" ngModel />
              <button>Change Task</button>
            </form>
          </div>

          <div class="col-sm-2">
            <button (click)="removeTask(i)" class="button-icons"><i class="fa fa-solid fa-trash"></i></button>
            <button *ngIf="!item.completed" (click)="editTaskToggle(i)" class="button-icons"><i
                class="fa fa-solid fa-pencil"></i></button>
          </div>
        </ng-container>
      </div>
    </div>

    <br />
    <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
      <label for="task">Enter a new task: &nbsp;</label>
      <input name="task" id="task" ngModel />
      <button>Add Task</button>
    </form>
  </div>
</div>